<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear/>
        <add key="Nuget.Org" value="https://api.nuget.org/v3/index.json"/>
        <add key="CodeLength"
             value="C:\repos\frankhaugen\Frank.Analyzers\Frank.Analyzers.CodeLength\Frank.Analyzers.CodeLength\Frank.Analyzers.CodeLength\Frank.Analyzers.CodeLength.Package\bin\Debug"/>
    </packageSources>
</configuration>