name: Prerelease

on:
  release:
  push:
    types: [prerelease]

jobs:
  BuildAndDeploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 5.0.x
    
    - name: Find Latest Tag
      id: find
      uses: oprypin/find-latest-tag@v1.0.4
      with:
        repository: ${{ github.repository }}
        releases-only: true
        
    - name: Pack NuGet
      working-directory: src
      run: dotnet pack --configuration Release -v m --output nupkgs -p:PackageVersion=${{ steps.find.outputs.tag }}
      
    - uses: AButler/upload-release-assets@v2.0
      with:
        files: "**/Frank.Libraries.*.${{ steps.find.outputs.tag }}.nupkg"
        repo-token: ${{ secrets.GITHUB_TOKEN }}
        
    - name: Push NuGets
      working-directory: src
      run: dotnet nuget push "**/Frank.Libraries.*.${{ steps.find.outputs.tag }}-build$GITHUB_RUN_NUMBER.nupkg" -k ${{ secrets.NugetKey }} -s https://api.nuget.org/v3/index.json
      
