name: Release

on:
  release:
    branches: master
    type: published
jobs:
  nugets:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    
    - name: Find Latest Tag
      id: find
      uses: oprypin/find-latest-tag@v1.0.4
      with:
        repository: ${{ github.repository }}
        releases-only: true
        
    - name: Restore
      working-directory: src
      run: dotnet restore -v m
        
    - name: Build
      working-directory: src
      run: dotnet build --configuration Release -p:Version=${{ steps.find.outputs.tag }} --no-restore
        
    - name: Pack
      working-directory: src
      run: dotnet pack --configuration Release --no-restore --no-build p:Version=${{ steps.find.outputs.tag }} -v m --output nupkgs
    
    - uses: AButler/upload-release-assets@v2.0
      with:
        files: "**/Frank.Libraries.*.${{ steps.find.outputs.tag }}.nupkg"
        repo-token: ${{ secrets.GITHUB_TOKEN }}
    
    - name: Publish
      working-directory: src
      run: dotnet nuget push "**/Frank.Libraries.*.${{ steps.find.outputs.tag }}.nupkg" -k ${{ secrets.NugetKey }} -s https://api.nuget.org/v3/index.json --skip-duplicate

